**/dist
/node_modules
/.akan
.vscode/*
.DS_Store
Thumbs.db
*.env
**/node_modules
/data
apps/*/data
/releases
apps/*/scripts
**/.env
**/env.client.local.ts
**/env.client.debug.ts
**/env.client.develop.ts
**/env.client.main.ts
**/env.client.testing.ts
**/env.server.local.ts
**/env.server.debug.ts
**/env.server.develop.ts
**/env.server.main.ts
**/env.server.testing.ts
**/env.server.type.ts
**/*secrets.yaml
**/kubeconfig.yaml
**/secrets.*
**/.idea
apps/**/src/schema.gql
.next
.vite
dump
local

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# **/android
build/
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

**/public/precache.*.*.js
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/fallback-*.js
**/public/precache.*.*.js.map
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/fallback-*.js
**/public/libs
**/assets/libs

**/vendor/bundle/
**/ios/App/App/public
**/ios/App/App/Podfile.lock
**/ios/App/App.pbxproj
**/*-secret.yaml

# Akanjs files
**/akan.app.json
**/akan.lib.json
**/akan.pkg.json
**/next.config.ts
**/next-env.d.ts
apps/**/lib/__lib
libs/**/lib/__lib
apps/*/lib/cnst.ts
apps/*/lib/dict.ts
apps/*/lib/db.ts
apps/*/lib/srv.ts
apps/*/lib/st.ts
apps/*/lib/sig.ts
apps/*/lib/useClient.ts
apps/*/lib/useServer.ts
apps/*/client.ts
apps/*/server.ts
apps/*/lib/*/index.tsx
libs/*/lib/cnst.ts
libs/*/lib/dict.ts
libs/*/lib/db.ts
libs/*/lib/srv.ts
libs/*/lib/st.ts
libs/*/lib/sig.ts
libs/*/lib/useClient.ts
libs/*/lib/useServer.ts
libs/*/client.ts
libs/*/server.ts
libs/*/index.ts
libs/*/lib/*/index.tsx
# **/capacitor.config.ts
# **/postcss.config.js
# **/playwright.config.ts
# **/jest.config.ts
# **/next-env.d.ts
# **/tsconfig.json
# **/tsconfig.spec.json

**/akansoft-id
**/akansoft-id.pub
**/.jenkins.conf
**/regcred.yaml
**/mongo-connections.json
**/redis-connections.json
infra/master/createRecords.ts
**/abi
pkgs/contract/env.ts
pnpm-lock.yaml
