**/script.ts
**/script*.ts
**/.env
**/env.client.debug.ts
**/env.client.develop.ts
**/env.client.main.ts
**/env.client.testing.ts
**/env.server.debug.ts
**/env.server.develop.ts
**/env.server.main.ts
**/env.server.testing.ts
**/env.server.type.ts
/akan.lib.json
/client.ts
/index.ts
/server.ts
/lib/__lib/
/lib/cnst.ts
/lib/dict.ts
/lib/db.ts
/lib/srv.ts
/lib/st.ts
/lib/sig.ts
/lib/*/index.tsx
/lib/useClient.ts
/lib/useServer.ts

# System Files
.DS_Store
Thumbs.db