import { baseEnv } from "@akanjs/base";

import type { ModulesOptions } from "../lib/option";

export const env: ModulesOptions = {
  ...baseEnv,
  hostname: null,
  redis: {},
  mongo: { password: "S20n-D2bUg" },
  security: {
    verifies: [["password", "phone", "naver", "kakao"]],
    sso: {},
  },
  rootAdminInfo: { accountId: "admin@admin.com", password: "admin1234" },
};
