networks:
  <%= repoName %>-network:
    driver: bridge
services:
  redis:
    container_name: <%= repoName %>-redis
    image: redis:8
    restart: unless-stopped
    ports:
      - 6379:6379
    networks:
      - <%= repoName %>-network
  postgres:
    container_name: <%= repoName %>-postgres
    image: postgres:18
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_DB=akan
      - POSTGRES_USER=akan
      - POSTGRES_PASSWORD=akan
    volumes:
      - ./postgres:/var/lib/postgresql
    networks:
      - <%= repoName %>-network
